tornado==5.1.1
numpy==1.15.1
scikit-learn==0.19.2
xgboost==0.80
# git+https://github.com/facebookresearch/fastText.git
pandas==0.23.4
flashtext
beautifulsoup4
tqdm==4.28.1
matplotlib
joblib
xlrd
thulac
langid>=1.1.5
pycm>=1.3
sklearn2pmml
xlwt>=1.3.0
ipywidgets==7.4.2
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.1.4
jupyterlab-server==1.0.6
notebook==5.7.4
openpyxl==3.0.0
xlsxwriter==1.2.5
torch==1.0
